<!DOCTYPE html>

<html>

    <head>

   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <link href="/css/index.css" rel="stylesheet" type="text/css">

</head>

 <% include partials/nav.ejs %>

    <div class="container">
    <div class="row">

    <h1>Search For Nightlife</h1>

<form action="/" method="post">
  
  <input name="location" type="text" class="form-control" placeholder="location" required>
  </label>  
  </label>  
  <input type="submit" value="Submit" class="btn btn-primary btn-block">

</form>
 
    <div id="results">
      
   <% 
     var businesses = data.businesses;
     var location = data.region;


   businesses.forEach(function(user) { %>
   <form action="/submit" method="post">
<div class="wrap">
 
     
    <a href="<%= user.url %>"> <img src="<%= user.image_url %>" alt="some_text" style="width:width;height:height;"> </a>  <input type="radio" id="rd1" name="name" value="<%= user.name %>" > <%= user.name%></h4>    
     
        <input type="submit" value="I will go" >
  
</div>
</form>
  <% }) %>


  
  












    </div>
    </container>
    </row>
    
<% include partials/footer.ejs %>

</body>

</html>