<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Titles</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="/css/titles.css" rel="stylesheet" type="text/css">
</head>
<% include partials/nav.ejs %>
    <body>
        <center>
            <h2>Places</h2></center>
        <% data.forEach(function(user) { %>

            <form method="post" action="/destroy/<%= user.id %>">
                <div class="wrap">
                    <div class="s1_3">
                        <div class="in">
                            <%= user.name %>  <button id="destroy" type="submit"><span class="glyphicon glyphicon-minus"></span></button>
                        </div>
                    </div>
                    
                </div>
            </form>
            <% }) %>
                <% include partials/footer.ejs %>
    </body>
</html>